*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1000px;
    margin: auto;
}
header {
    text-align: center;
    margin: 10px 0;
}
header img{
    height: 100px;
}
nav {
    display: flex;
    background-color: orange;
    line-height: 45px;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
    height: 50px;
}
nav ul a{
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 15px;
    transition: 0.5s;
}
nav ul a:hover{
    background-color: rgba(232, 21, 21, 0.5);
}
form {
    padding-right: 15px;
}
form input{
    width: 220px;
    height: 30px;
    border: 1px solid #333333;
    outline: none;
    padding-left: 3px;
    transition: 0.5s;
}
form input:focus {
    width: 270px;
    height: 40px;
}
form button{
  
    border: none;
    padding: 6px 10px;
    box-shadow: 0 0 2px green;
    border-radius: 3px;
    cursor: pointer;
    background-color: #fff;
}
.banner img{
    width: 100%;
    margin: 10px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
}
.col {
    width: calc(33.3333% - 16px);
    margin-top: 20px;
    margin-left: 16px;
    padding: 10px;
    border: 1px solid #999;
    position: relative;
    overflow: hidden;
}
.thumb {
    overflow: hidden;
}
.thumb img{
    width: 100%;  
    transition: 0.5s;  
}
.thumb:hover img{
    transform: scale(130%);
}
.col a {
    color: #333333;
    text-decoration: none;
}
.new-content h3{
    margin: 15px 0;
}
.new-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #fff;
    transform: translate(-100%, 0);
    transition: 0.5s;
    /* Để nội dung vào giữa */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.col:hover .new-content{
    transform: translate(0,0);
}

footer {
    text-align: center;
    line-height: 60px;
    background-color: rgb(60, 8, 165);
    margin-top: 20px;
    color: #fff;
}